<!-- src/app/features/products/components/product-list.component.html -->
<div class="search-bar">
  <!-- Todo 商品検索機能を追加　(ngModelChange)="onSearch($event)"　-->
   <!--
  <input type="text" placeholder="商品名で検索" [(ngModel)]="keyword" />
   -->
</div>

<div *ngIf="loading">Loading…</div>
<div *ngIf="!loading">
  <div *ngFor="let p of products" class="product-card">
    <h3 (click)="goDetail(p.id)">{{ p.name }}</h3>
    <p>¥{{ p.price | number }}</p>
    <img [src]="p.imageUrl" alt="{{ p.name }}" />
    <button (click)="addToCart(p.id)">カートに入れる</button>
  </div>
</div>
